<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="description" content="HTML5 Beat Pad">
    <meta name="author" content="Chris Pilkington">
    
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Beat Pad</title>
  </head>

  <body>
    <section id="soundboard">
INSERT_BUTTONS

      <ul id="doc" class="list floated soundboard clearfix">
      </ul>
    </section>


    <div id="credits" class="overlay" onclick="closeOverlay()">
      <a href="javascript:void(0)" class="closebtn" onclick="closeOverlay()">&times;</a>
      <div class="overlay-content">
        <h3>Credits</h3>
        <p>
          <h4>Code</h4>
          <p>
            <ul>
              <li><a href="https://github.com/pilkch/beatpad">Source code</a></li>
            </ul>

            This is a mash up of these two projects:
            <ul>
              <li><a href="https://github.com/sk33lz/bootstrap-html5-soundboard">Bootstrap HTML5 Soundboard</a></li>
              <li><a href="https://www.sitepoint.com/using-modern-css-to-build-a-responsive-image-grid/">Using Modern CSS to Build a Responsive Image Grid</a></li>
            </ul>
          </p>

          <h4>Samples</h4>
          <p>
            These free samples are used:
            <ul>
              <li><a href="https://www.antidoteaudio.com/freebies">https://www.antidoteaudio.com/freebies</a></li>
              <li><a href="https://cymatics.fm/collections/">https://cymatics.fm/collections/</a></li>
              <li><a href="https://www.ghosthack.de/free_sample_packs/100-Dubstep-Samples/">https://www.ghosthack.de/free_sample_packs/100-Dubstep-Samples/</a></li>
              <li><a href="https://www.ghosthack.de/free_sample_packs/trap-drum-loops/">https://www.ghosthack.de/free_sample_packs/trap-drum-loops/</a></li>
              <li><a href="https://www.ghosthack.de/free_sample_packs/Dubstep---Trap-Sample-Pack-4/">https://www.ghosthack.de/free_sample_packs/Dubstep---Trap-Sample-Pack-4/</a></li>
              <li><a href="https://www.blumarten.com/product/junglejungle-free-sample-pack/">https://www.blumarten.com/product/junglejungle-free-sample-pack/</a></li>
              <li><a href="https://www.looperman.com/loops/detail/69101/heavy-dubstep-wobble-by-timmydarkside-free-140bpm-dubstep-bass-loop">https://www.looperman.com/loops/detail/69101/heavy-dubstep-wobble-by-timmydarkside-free-140bpm-dubstep-bass-loop</a></li>
              <li><a href="https://www.looperman.com/loops/detail/64225/dubstep-wobble-part-1-by-quizzen-free-140bpm-dubstep-wobble-bass-loop">https://www.looperman.com/loops/detail/64225/dubstep-wobble-part-1-by-quizzen-free-140bpm-dubstep-wobble-bass-loop</a></li>
              <li><a href="https://www.looperman.com/loops/detail/61912/dirty-wobbles-2-by-spivkurl-free-140bpm-dubstep-wobble-bass-loop">https://www.looperman.com/loops/detail/61912/dirty-wobbles-2-by-spivkurl-free-140bpm-dubstep-wobble-bass-loop</a></li>
              <li><a href="https://www.looperman.com/loops/detail/52120/dubstep-wobble-3-138bpm-by-mmedia-free-138bpm-dubstep-bass-loop">https://www.looperman.com/loops/detail/52120/dubstep-wobble-3-138bpm-by-mmedia-free-138bpm-dubstep-bass-loop</a></li>
              <li><a href="https://www.looperman.com/loops/detail/140612/drop-like-deadmau5-130bpm-house-synth-loop">https://www.looperman.com/loops/detail/140612/drop-like-deadmau5-130bpm-house-synth-loop</a></li>
              <li><a href="https://www.looperman.com/loops/detail/177137/future-loop-90bpm-electronic-pad-loop">https://www.looperman.com/loops/detail/177137/future-loop-90bpm-electronic-pad-loop</a></li>
              <li><a href="http://doa.totallyowns.co.uk/samples/packs/doa/">http://doa.totallyowns.co.uk/samples/packs/doa/</a></li>
              <li><a href="https://page.waproduction.com/free-anniversary-collection-6">https://page.waproduction.com/free-anniversary-collection-6</a></li>
            </ul>
          </p>
        </p>
      </div>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openOverlay()">Credits</span>

<script>
function openOverlay() {
    document.getElementById("credits").style.width = "100%";
}

function closeOverlay() {
    document.getElementById("credits").style.width = "0%";
}
</script>

<script src="js/jquery-1.8.2.min.js"></script>
<script src="js/bootstrap/bootstrap-transition.js"></script>
<script src="js/bootstrap/bootstrap-collapse.js"></script>

  </body>
</html>
