<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="description" content="HTML5 Soundboard">
    <meta name="author" content="Chris Pilkington">
    
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Soundboard</title>
  </head>

  <body>
    <section id="soundboard">
INSERT_SAMPLES

      <ul id="doc" class="list floated soundboard clearfix">
      </ul>
    </section>


    <div id="credits" class="overlay" onclick="closeOverlay()">
      <a href="javascript:void(0)" class="closebtn" onclick="closeOverlay()">&times;</a>
      <div class="overlay-content">
        <h3>Credits</h3>
        <p>
          <h4>Code</h4>
          <p>
            <ul>
              <li><a href="https://github.com/pilkch/soundboard">Source code</a></li>
            </ul>

            This is a mash up of these two projects:
            <ul>
              <li><a href="https://github.com/sk33lz/bootstrap-html5-soundboard">Bootstrap HTML5 Soundboard</a></li>
              <li><a href="https://www.sitepoint.com/using-modern-css-to-build-a-responsive-image-grid/">Using Modern CSS to Build a Responsive Image Grid</a></li>
            </ul>
          </p>

          <h4>Sounds</h4>
          <p>
            These free sounds are used:
            <ul>
              <li><a href="https://freesound.org/people/schademans/sounds/13290/">https://freesound.org/people/schademans/sounds/13290/</a></li>
              <li><a href="https://freesound.org/people/ljudman/sounds/33246/">https://freesound.org/people/ljudman/sounds/33246/</a></li>
              <li><a href="https://freesound.org/people/18hiltc/sounds/208532/">https://freesound.org/people/18hiltc/sounds/208532/</a></li>
              <li><a href="https://freesound.org/people/iskweldog/sounds/200971/">https://freesound.org/people/iskweldog/sounds/200971/</a></li>
              <li><a href="https://freesound.org/people/rsanchez44/sounds/169108/">https://freesound.org/people/rsanchez44/sounds/169108/</a></li>
              <li><a href="https://freesound.org/people/Bertrof/sounds/131660/">https://freesound.org/people/Bertrof/sounds/131660/</a></li>
              <li><a href="https://freesound.org/people/Goup_1/sounds/195396/">https://freesound.org/people/Goup_1/sounds/195396/</a></li>
              <li><a href="http://soundbible.com/2100-Splash-Rock-In-Lake.html">http://soundbible.com/2100-Splash-Rock-In-Lake.html</a></li>
              <li><a href="http://soundbible.com/2148-Chinese-Gong.html">http://soundbible.com/2148-Chinese-Gong.html</a></li>
              <li><a href="http://soundbible.com/2162-Human-Heartbeat.html">http://soundbible.com/2162-Human-Heartbeat.html</a></li>
              <li><a href="http://soundbible.com/2171-Church-Bell-Chime.html">http://soundbible.com/2171-Church-Bell-Chime.html</a></li>
              <li><a href="http://soundbible.com/2180-Meadowlark.html">http://soundbible.com/2180-Meadowlark.html</a></li>
              <li><a href="http://soundbible.com/2179-Dixie-Horn.html">http://soundbible.com/2179-Dixie-Horn.html</a></li>
              <li><a href="http://soundbible.com/2177-Steam-Train-Whistle.html">http://soundbible.com/2177-Steam-Train-Whistle.html</a></li>
              <li><a href="http://soundbible.com/2184-Police-Whistle.html">http://soundbible.com/2184-Police-Whistle.html</a></li>
              <li><a href="http://soundbible.com/2185-Old-School-Bell.html">http://soundbible.com/2185-Old-School-Bell.html</a></li>
              <li><a href="http://soundbible.com/2190-Front-Desk-Bell.html">http://soundbible.com/2190-Front-Desk-Bell.html</a></li>
              <li><a href="http://soundbible.com/2192-Fire-Truck-Horn.html">http://soundbible.com/2192-Fire-Truck-Horn.html</a></li>
              <li><a href="http://soundbible.com/2193-Flock-Seagulls.html">http://soundbible.com/2193-Flock-Seagulls.html</a></li>
            </ul>
          </p>
        </p>
      </div>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openOverlay()">Credits</span>

<script>
function openOverlay() {
    document.getElementById("credits").style.width = "100%";
}

function closeOverlay() {
    document.getElementById("credits").style.width = "0%";
}
</script>

<script src="js/jquery-1.8.2.min.js"></script>
<script src="js/bootstrap/bootstrap-transition.js"></script>
<script src="js/bootstrap/bootstrap-collapse.js"></script>

  </body>
</html>
